:root {
    --light-grey: #E7E6E6;
    --dark-grey-text: #0D0D0D ;
    --cust-orange: #FFBF81;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'titles'; 
    src: url('fonts/SimHei.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal; 
}

@font-face {
    font-family: 'body-text'; 
    src: url('fonts/guliym.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}


p, span {
    font-family: 'body-text', Helvetica, Arial, sans-serif, sans-serif;
}


h2 {
    font-family: titles, helvetica, arial, sans-serif ;
    font-size: 32px; 
    font-weight: bold; 
    color: var(--dark-grey-text); 
    margin-top: 0; 
    margin-bottom: 5px;
    text-align: center;  /* Centre the title, but you can change to left or right if you want */
    letter-spacing: 2px;  /* Spaces out the letters a bit; adjust or remove if not wanted */
    background-color: var(--cust-orange);
    border-radius: 3px;
}



body {
    margin: 0;
    padding: 0;
}

header {
    background-image: 
        linear-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5)),
        url('images/horizontal-borderless.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 80px;
    display: flex;           
    justify-content: space-between; 
    align-items: center;    
    padding: 0 20px; 
    margin-bottom: 0;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav ul {
    display: flex;          
    gap: 18px;               
    list-style-type: none;   
    padding: 0;             
    margin: 0;               
}

header nav li a {
    text-decoration: none;
    font-size: 22px;   
    color: var(--dark-grey-text); 
    font-family: titles, helvetica, arial, sans-serif;
}

header nav li a:hover {
    color: var(--cust-orange); 
}

.hero-section {
    margin-top: 0;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('images/horizontal-borderless.png');
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center center, center -80px;
    height: 300px;
}

.hero-title {
    padding-top: 20px;
    padding-left: 40px;
    font-size: 2em; 
    font-weight: bold;
    font-family: titles, helvetica, arial, sans-serif;
    text-align: left;
    max-width: 60%;
    margin-bottom: 1em; 
    font-family: titles, helvetica, arial, sans-serif;
}

.hero-subtitle {
    font-size: 1em; 
    text-align: left;
    padding-left: 30px;

}

.image-horizontal{
    width: 350px; 
    margin: 0 auto;
    padding-left: 40px;
}

.image-horizontal img {
    width: 100%;
    height: auto;
    display: left;
}


.bird-schematic{
    width: 350px; 
    margin: 0 auto;
    padding-left: 40px;
}

.bird-schematic img {
    width: 100%;
    height: auto;
    display: left;
}

.spatial-acoustics{
    width: 350px; 
    margin: 0 auto;
    padding-left: 40px;
}

.spatial-acoustics img {
    width: 100%;
    height: auto;
    display: left;
}


.text-pic-container{
    display: flex;
    align-items: center;
    padding-top: 50px
}

.text-pic-container{
    display: flex;
    align-items: center;
    padding-top: 50px
}
.text-pic-container .body-text, .text-pic-container .image-horizontal {
    margin-right: 20px;
}

.text-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px; 
    text-align: center; 
}

.text-left-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 50px;
    padding-bottom: 50px; 
    text-align: left; 
}

.top-logo {
    width: 200px;
    height: auto;
}


.white-background {
    background-color: white;
    padding-bottom: 30px;
}

.grey-background {
    background-color: var(--light-grey);
    padding-bottom: 30px;
}


/* a is the anchor points (links) */

.in-text-link {
    text-decoration: none;
    background-color: var(--cust-orange);
    color: var(--dark-grey-text);
    padding: 5px 10px;
    border-radius: 3px;
}
.in-text-link:hover {
    background-color: darkorange;
}


footer {
    background-image: 
        linear-gradient(rgba(127, 127, 127, 0.6), rgba(127, 127, 127, 0.6)),
        url('images/horizontal-borderless.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 80px;
    display: flex;           
    justify-content: space-between; 
    align-items: center;    
    padding: 0 20px; 
    margin-bottom: 0;
    padding-bottom: 0;
}


.footer-text p {
    margin: 0; 
    padding: 3px 5px; 
    color: var(--cust-orange) ;
    font-family: titles, helvetica, arial, sans-serif;
    font-style: bolder;
    font-size: 18px;
}

.footer-logo {
    height: 60px; 
    width: auto;
}